/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
/*on supprime tous les margins et paddings*/
* {
    margin: 0;
    padding: 0;
}
/* on déclare des variables de couleur*/
:root {
    --blue: #0065FC;
    --lightBlue: #DEEBFF;
    --grey: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white:white;
}
/*on rend flex pour en suite centrer sur l'axe principale (horizontal)*/
body {
    display: flex;
    justify-content: center;
}
/* On supprime les puces des listes dans tous les ul du body*/
body ul {
    list-style: none;
}
/* on crée un conteneur principal avec un maximum largeur de 1440px , un padding sur les côtés ⬅➡ */ 
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* on rend flex pour placer le logo et la nav dans chaques coins en prenant 100 % de la largeur du conteneur*/
header { 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* tous titre h2 dans main sont en taille 22px*/
main h2 {
    font-size: 22px;
}
/* On crée une classe avec la propriété donnant une marge vers le ⬇ de 30px*/
.margin-bottom {
    margin-bottom: 30px;
}
/* on change la taille du logo et on le ⬇ de 31px */
.logoReservia img {
    height: 20px;
    width: 60px;
    padding-top: 31px;
}
/* On rend flex et on supprime les symboles de la liste à puce*/
.navbar ul {
    display:flex;
}
/* on rend flex avec une marge sur la ⬅ et un padding en ⬆ et en ⬇ */
.navbar a {
    display:flex;
    margin-left: 47px;
    padding: 16px 0;
}
/* au survole du pointeur le texte devient bleu et une barre apparait */
.navbar a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}
/* permet de mettre en noir le texte et supprimer la barre de soulignement sur les liens du site*/
a {
    color: inherit;
    text-decoration: none;
}
/* Permet de mettre une marge vers le ⬇*/
.research-title h1 {
    margin-bottom: 10px;
}
/* Permet de mettre les éléments à la suite des autres sur l'axe secondaire (cross axis) et de les aligner*/
.directionRowAndBaseline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/******************** bonton recherche ********************************/
/* On aligne les 3 boutons sur l'axe principale*/
.Search-bar {
    display: flex;
    flex-direction: row;
}
/* On change la taille et la police du texte qui se trouve dans Search-bar*/
.Search-bar input,
.Search-bar button {
    font-size: 18px;
}
/* on cible des mots pour en changer sa police en plus gras*/
.Search-bar input,
.Search-bar button,
.filterBar p, 
.filterBar button,
.hebergements-cards a:nth-child(7),
.footer-column-Left li:nth-child(1),
.footer-column-Midle li:nth-child(1),
.footer-column-Right li:nth-child(1) {
    font-weight: bold;
}
/* Premier bouton de la barre de recherche*/
.map-logo {
    display:flex;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;   
}
/* On définit la taille du logo Booki */
.map-logo i {
    height: 18px;
    width: 14px;
}
/* Deuxième bouton de la barre de recherche*/ 
input {
    height: 45px;
    max-width: 190px;
    border-left-style: none;
    border-right-style: none;
    border-color: rgba(94, 93, 93, 0.1);
    /* border-color: var(--grey); */
    border-width: 1px;
    text-align: center;
    padding-bottom: 2px;
}
/* Troisème bouton de la barre de recherche*/
.research-btn .research {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0 15px 15px 0;
    height: 49px;
    padding: 0px 20px 0px 20px;
    border: 0px;
}
/* quatrième bouton de la barre de recherche, mais qui est caché*/
.research-btn .i {
    display: none;
    color: var(--white);
}

/******************** boutons filtres ************************/
/* On change la taille et la police du texte dans filterBar*/
.filterBar p, 
.filterBar button {
    font-size: 17px;
    margin-right: 15px;
}
.filterBar i {
    font-size: 17px;
}
/* Squelette du bouton */
.Button {
    display: flex;
	align-items: center;
	justify-content: space-evenly;

    background-color: white;

	border-style: solid;
	border-width: 2px;
	border-radius: 25px;

    border-color: var(--grey);
}
/* taille pour petit bouton */
.smallButton {
    height: 50px;
    width: 134px;
} 
/* taille pour grand bouton */
.bigButton {
    height: 50px;
    width: 173px;
}
/* effect bleu au survol du curseur */
.Button:hover {
    background-color: var(--lightBlue);
}
/* On crée un cercle autour du i */
.logo-info {
    display: flex;
	align-items: center;
	justify-content: center;

    border-style: solid;
	border-width: 2px;
	border-radius: 50% 50% 50% 50%;

    border-color: var(--grey);

    height: 10px;
    width: 10px;
    padding: 10px;

    margin-right: 15px;
}
/* On centre l'icone et on définit sa taille*/
.logo-info i {
    display: flex;
	align-items: center;
	justify-content: center;

    height: 1px;
    width: 1px;
}

/****** Hebergements And populars ***********/
/* On rend flex et on mets de chaque côté ( hébergement ) ⬅➡ ( populaire) avec une marge en ⬇ */
.hebergements-and-populars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/****** Hebergements ***********/
/* On crée un fond en gris utilisant 65 % de large du conteneur hebergements-and-populars */
.hebergements {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 65%;
}

/**************** Cartes  **************************/
/* On définit un fond blanc avec un effet d'ombre*/ 
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/* On utilise à toutes les images des cartes l'attribut: cover*/
.card img, 
.card-activitys img {
    object-fit: cover;
}
/* On change la taille de la police à tous les titres des cartes */
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.card-rating {
    margin-bottom: 5px;
}

.fa-solid {
    color: var(--blue);
}

.fa-solidWhite {
    color: var(--white);
}

.neutral-star {
    color: var(--grey)
}
/*************************************************/

/* On crée une grille qu'on fractionne en 3 colonnes pour nos cartes hébergements*/
.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2em;
    box-sizing: border-box;
    margin-top: 33px;
}
/* On définit le fond de la carte */
.card-content-hebergements {
    padding-left: 15px;
}
/* On définit la ⬆⬇ et la ⬅➡ de l'image dans les cartes*/
.hebergements-cards img {
    height: 136px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/****** populars ***********/
/* On crée un fond de couleur gris avec une largeur de 32 %*/
.populars {
    width: 32%;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/* On sépare le titre et l'icone*/
.populars-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* On définit les cartes de la rubrique populars*/
.populars-cards .card {
    display: flex;
    margin-top: 33px;
    height: 136px;
}
/* On définit la ⬅➡ et on arrondit les bords des images des populars*/
.populars-cards img {
    width: 33%;
    border-radius: 20px 0px 0px 20px;
}
/* On définit le contenu de la carte */
.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
/* On définit des marges dans les titres des cartes*/
.populars-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


/****** activité à Marseille ***********/
/* On ajuste le placement du titre*/
.activity-in-Marseille h2 {
    padding: 15px;
    margin-left: 15px;
}
/* On crée une grile qu'on frationne en 4 colonnes*/
.grid-activity-in-Marseille {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2em;
    box-sizing: border-box;
    padding: 10px 30px 50px 30px;
}
/* On définit la ⬆⬇ et la ⬅➡ en % du conteneur parent*/
.grid-activity-in-Marseille img {
    height: 90%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
/* On définit les cartes activités*/
.card-activitys {
    background-color: white;
    border-radius: 20px;
    height: 439px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/* On ajuste le placement des titres */
.card-activitys .card-title {
    padding: 10px 0 0 10px;
}


/****** Footer ***********/
/* On fractionne l'enfant en 3 colonnes*/
.footer-box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    padding: 10px 0 0px 10px;
    height: 100%;
    width: 100%;
    background-color: var(--grey);
}

/* On rajoute une marge*/
.footer-box li {
    margin: 10px;
}